@font-face {
  font-family: "Futura-Std-Book";
  src: url(../../fonts/Futura-Std-Book.otf) format("opentype");
}

body {
  font-family: "Futura-Std-Book";
}

.navbar-div {
  position: sticky;
  top: 0px;
  z-index: 500;
}

.search-field,
.price-range {
  width: 90%;
  margin-top: 15px;
  border: 2px solid #B9B9BA;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  outline: none;
  font-family: "Futura-Std-Book";
}

.price-range:focus, .price-range:hover, .search-field:focus, .search-field:hover {
  border: 2px solid #f26925;
}

.reset-btn {
  width: fit-content;
  border: none;
  background-color: #f26925;
  color: #fff;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  font-family: 'Futura-Std-Book';
}

.reset-btn:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.title {
  font-size: 22px;
  font-weight: bold;
}

.categories {
  margin-bottom: 20px;
}

.radio-box:checked {
  font-size: 20px;
  accent-color: #f26925;
  background-color: #f26925;
  border: 2px solid #f26925;
}

.form-control + .form-control {
  margin-top: 1em;
}