body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input {
  padding: 10px;
  font-size: 1.2em;
}
button {
  border: none;
  padding: 10px;
  background: rgb(146, 122, 90);
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
}
.hideConnect {
  display: none;
}
.container {
  position: relative;
}
.register {
  position: fixed;
  left: 70%;
  display: flex;

  border-radius: 5px;
  bottom: 20px;
}
.chat-box {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  margin: 40px 50px;
  height: 600px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  border-radius: 15px;
  width: fit-content;
  backdrop-filter: blur(10px);
  margin-left: auto;
}

.member-list {
  margin-top: 50px;
  margin-bottom: 60px;
  width: fit-content;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.chat-content {
  width: 80%;
  margin-left: 10px;
}
.chat-messages {
  height: 80%;
  border: 1px solid blanchedalmond;
  border-radius: 10px;
  background: antiquewhite;
}
.send-message {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.input-message {
  width: 90%;
  border: 1px solid rgb(146, 122, 90);
  border-radius: 10px;
}
ul {
  padding: 0;
  list-style-type: none;
}
.send-button {
  width: 20%;
  border-radius: 10px;
  margin-left: 10px;
  cursor: pointer;
}
.member {
  padding: 10px;
  background: antiquewhite;
  border: #000;
  cursor: pointer;
  border-radius: 20px;
  margin: 5px 2px;
  box-shadow: 0 8px 8px -4px lightblue;
}
.member.active {
  background: rgb(146, 122, 90);
  border-radius: 20px;
  color: #fff;
}
.member:hover {
  background: grey;
  color: #fff;
}
.avatar {
  background-color: rgb(146, 122, 90);
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
}
.avatar.self {
  background-color: indianred;
  margin-left: auto;
  padding: 3px 5px;
}
.message {
  padding: 5px;
  width: auto;
  display: flex;
  flex-direction: row;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin: 20px;
  border-radius: 5px;
  background: burlywood;
}
.message-data {
  padding: 5px;
}
.message.self {
  justify-content: left;
  padding: 3px 5px;
  background: aliceblue;
}

.chat-close {
  background: rgba(255, 0, 43, 0.432);
  border-radius: 20px;
  cursor: pointer;
  margin-left: 350px;
  color: crimson;
  width: 40px;
}

.register input {
  border: 1px solid rgb(146, 122, 90);
  border-radius: 17px;
  margin-right: 20px;
  color: rgb(146, 122, 90);
}
.register button {
  border-radius: 17px;
  background-color: rgb(146, 122, 90);
}
.showConnect {
  border-radius: 17px;
  background-color: rgb(146, 122, 90) #f37a2a;
  position: fixed;
  right: 3%;
  bottom: 20px;
}
