.root {
  --orange: #f26925;
  --white: #ffffff;
  --dark-gray: #474c55;
  --blue: #72a4c2;
  --yellow: #fcb414;
  --light-gray: #b9b9ba;
}

.body-container {
  font-family: "Futura-Std-Book";
}

@font-face {
  font-family: "Futura-Std-Book";
  src: url(../../fonts/Futura-Std-Book.otf) format("opentype");
}

.submit-button {
  display: block;
  margin-top: 4rem;
  padding: 1rem 6rem 1rem 6rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #f26925;
  border: solid 1px #b9b9ba;
  border-radius: 10px;
  color: #ffffff;
  font-weight: 600;
  font-size: large;
  font-family: "Futura-Std-Book";
}

.submit-button:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: 0.3s;
}

.category {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 25px;
  width: 200px;
  font-size: medium;
  text-align: left;
  border-radius: 5px;
  font-family: "Futura-Std-Book";
}

.category:hover {
  cursor: pointer;
}

/*
select option:hover {
    background-color: #72a4c2;
}
*/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  margin-right: 10px;
  margin-left: 10px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #f26925;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(32px);
  -ms-transform: translateX(32px);
  transform: translateX(32px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.featured {
  display: inline-flex;
  justify-content: center;
  vertical-align: middle;
  font-weight: bold;
}
